@model CourseAppProject.Models.Course


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p>Name: @Model.Name</p>
    <p>Description: @Model.Description</p>
    <p>IsPubished: @Model.IsPublished</p>
    </body>
</html>