<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    
    <p>@ViewBag.Greeting @ViewBag.UserName, Nasılsın?</p>
    <p>Umarım kurslarımızdan menunsunuzdur....</p>
    
        @*<a href="/course/apply">Başvuru Yap</a>*@
        <a asp-action="apply" asp-controller="course">Başvuru Yap</a>
    

    </body>
</html>